.brown-orange {
  color: #b85a18;
}

.bg-brown-orange {
  background-color: #b85a18;
}

.light-beige {
  color: #f0ece2;
}

.dark-brown {
  color: #5f3f0a;
}

.bg-light-beige {
  background-color: #f0ece2;
}

.bg-dark-brown {
  background-color: #5f3f0a;
}

.form-control:focus {
  border-color: #5f3f0a;
  box-shadow: 0 0 0 0.25rem rgba(95, 63, 10, 0.15);
}

.btn:hover {
  background-color: rgba(95, 63, 10, 0.3) !important;
}
